<!DOCTYPE HTML>
<html>
<head>
    <title>好玩社区</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="icon" href="@{/images/icon.jpg}" type="image/x-icon"/>
	<script src="@{/js/jquery-3.4.1.min.js}"  type="application/javascript"></script>
    <link rel="stylesheet" href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="@{/css/bootstrap-theme.min.css}">
    <script src="@{/js/bootstrap.min.js}" type="application/javascript"></script>
</head>
<body>
<div class="jumbotron" style="text-align:center;">
  <div class="container">
   <h1>好玩社区</h1>
	<p>感谢注册！确认邮件已发送至你的注册邮箱 : 1820412687@qq.con。请进入邮箱查看邮件，并激活账号。</p>
	<p>如果您已经激活了，点击下面按钮去登录<p>
	<p><a class="btn btn-primary btn-lg" href="#" role="button">登录</a></p>
  </div>
</div>
</body>
</html>